body {
  min-width: 1200px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  -ms-overflow-style: scrollbar; }

ul, ol {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

dl {
  margin-bottom: 0; }

p, address, label {
  margin-bottom: 0; }

.btn {
  min-width: 85px;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  background-color: #4f4f4f; }
  .btn:focus, .btn:hover {
    background-color: #666;
    color: #fff; }

.label {
  margin-right: 10px;
  background-color: #4f4f4f;
  font-size: 11px; }
  .label.label-primary {
    background-color: #e9193a; }

.container {
  width: 1200px !important; }

.skip-nav-item {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  font-size: 14px; }
  .skip-nav-item:focus {
    color: #333; }

#header {
  position: relative;
  height: 147px;
  border-bottom: 2px solid #e9193a;
  z-index: 1; }
  #header .top {
    height: 97px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec; }
    #header .top .container {
      position: relative; }
    #header .top h1 {
      text-align: center;
      margin-bottom: 0; }
    #header .top .branch {
      position: absolute;
      top: 20px;
      left: 15px; }
      #header .top .branch p {
        float: left;
        margin-right: 20px; }
      #header .top .branch ul {
        overflow: hidden;
        float: left;
        margin-top: 10px; }
        #header .top .branch ul li {
          float: left; }
          #header .top .branch ul li .btn {
            width: 110px;
            border: 1px solid #d8d8d8;
            color: #ccc;
            background-color: #fff;
            font-weight: 300; }
            #header .top .branch ul li .btn:focus, #header .top .branch ul li .btn:hover {
              background-color: #e9193a;
              border-color: #e9193a;
              color: #fff; }
          #header .top .branch ul li.active .btn {
            background-color: #e9193a;
            border-color: #e9193a;
            color: #fff; }
    #header .top .lang {
      position: absolute;
      top: 40px;
      right: 15px; }
      #header .top .lang li {
        display: inline-block;
        margin-left: 5px; }
        #header .top .lang li:first-child {
          margin-left: 0; }
    #header .top .member {
      position: absolute;
      top: 40px;
      right: 190px; }
      #header .top .member li {
        position: relative;
        display: inline-block;
        padding-left: 12px;
        line-height: 18px; }
        #header .top .member li a {
          color: #888; }
        #header .top .member li:before {
          position: absolute;
          top: 0;
          left: 3px;
          display: inline-block;
          content: '|';
          font-size: 10px;
          color: #aaa; }
        #header .top .member li:first-child {
          padding-left: 0; }
          #header .top .member li:first-child:before {
            content: ''; }
    #header .top .family-sites {
      position: absolute;
      top: 28px;
      right: 0;
      width: 170px;
      height: 40px; }
      #header .top .family-sites .btn {
        position: relative;
        height: 40px;
        text-align: left;
        color: #666;
        line-height: 28px;
        background-color: #ebebeb; }
        #header .top .family-sites .btn span {
          position: absolute;
          top: 18px;
          right: 12px; }
      #header .top .family-sites .dropdown-menu {
        right: 0;
        left: auto;
        margin-top: 0;
        margin-bottom: 0;
        width: 220px;
        border-radius: 0; }
        #header .top .family-sites .dropdown-menu li a {
          line-height: 30px; }
  #header #gnb {
    position: relative; }
    #header #gnb > div {
      position: relative;
      margin: 0 auto;
      width: 1200px;
      z-index: 1; }
      #header #gnb > div > ul {
        overflow: hidden; }
        #header #gnb > div > ul > li {
          float: left;
          width: 20%; }
          #header #gnb > div > ul > li > a {
            display: block;
            height: 50px;
            text-align: center;
            font-size: 18px;
            color: #333;
            line-height: 50px;
            text-decoration: none; }
            #header #gnb > div > ul > li > a:focus, #header #gnb > div > ul > li > a:hover {
              color: #e9193a; }
          #header #gnb > div > ul > li > ul {
            display: none;
            padding-top: 25px;
            padding-bottom: 50px; }
            #header #gnb > div > ul > li > ul > li > a {
              display: block;
              font-size: 14px;
              line-height: 35px;
              color: #999;
              text-align: center;
              text-decoration: none; }
              #header #gnb > div > ul > li > ul > li > a:focus, #header #gnb > div > ul > li > ul > li > a:hover {
                color: #fff; }
            #header #gnb > div > ul > li > ul > li .bar {
              display: block;
              margin: 17px auto 17px;
              width: 50px;
              height: 1px;
              background-color: #999; }
          #header #gnb > div > ul > li:focus > a, #header #gnb > div > ul > li:hover > a {
            color: #e9193a; }
    #header #gnb .backface {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      padding-top: 50px;
      width: 100%;
      height: 100%; }
      #header #gnb .backface > div {
        height: 100%;
        background-color: rgba(51, 51, 51, 0.95); }
  #header.gnb-opened #gnb > div > ul > li > ul {
    display: block; }

#find-treatments {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e9193a;
  /*
  ul {
      margin-left: -15px;
      margin-right: -15px;
      li {
          float: left;
          width: 100px;
          a {
              display: block;
              padding-top: 50px;
              width: 100%;
              height: 70px;
              text-align :center;
              white-space: nowrap;
              color: #fff;
              text-decoration: none;
              font-size: 15px;
              line-height: 20px;
              background-image: url(/images/ico_treatments.gif);
              background-repeat: no-repeat;
              letter-spacing: -1px;
              &:focus,
              &:hover {
                  color: #fff799;
              }
          }
          &:nth-of-type(1) a {
              background-position: 15px -70px;
              &:focus,
              &:hover {
                  background-position: 15px 0;
              }
          }
          &:nth-of-type(2) a {
              background-position: -85px -70px;
              &:focus,
              &:hover {
                  background-position: -85px 0;
              }
          }
          &:nth-of-type(3) a {
              background-position: -185px -70px;
              &:focus,
              &:hover {
                  background-position: -185px 0;
              }
          }
          &:nth-of-type(4) a {
              background-position: -285px -70px;
              &:focus,
              &:hover {
                  background-position: -285px 0;
              }
          }
          &:nth-of-type(5) a {
              background-position: -385px -70px;
              &:focus,
              &:hover {
                  background-position: -385px 0;
              }
          }
          &:nth-of-type(6) a {
              background-position: -485px -70px;
              &:focus,
              &:hover {
                  background-position: -485px 0;
              }
          }
          &:nth-of-type(7) a {
              background-position: -585px -70px;
              &:focus,
              &:hover {
                  background-position: -585px 0;
              }
          }
          &:nth-of-type(8) a {
              background-position: -685px -70px;
              &:focus,
              &:hover {
                  background-position: -685px 0;
              }
          }
          &:nth-of-type(9) a {
              background-position: -785px -70px;
              &:focus,
              &:hover {
                  background-position: -785px 0;
              }
          }
      }
  }
  */ }
  #find-treatments h4 {
    font-size: 23px; }
    #find-treatments h4 a {
      color: #fff;
      text-decoration: none; }
      #find-treatments h4 a i {
        font-style: normal;
        color: #fff799; }
      #find-treatments h4 a small {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        color: #ff8296;
        text-indent: 25px; }
  #find-treatments ul li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
    height: 70px; }
    #find-treatments ul li a {
      display: block;
      padding-top: 23px;
      padding-left: 80px;
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      font-weight: 300;
      background-image: url(/images/ico_treatments.gif);
      background-repeat: no-repeat;
      background-position: 0 -20px;
      text-decoration: none; }
      #find-treatments ul li a:hover, #find-treatments ul li a:focus {
        color: #fff799; }
    #find-treatments ul li:nth-of-type(1) a {
      padding-top: 11px;
      padding-left: 90px;
      background-position: 0 -20px; }
      #find-treatments ul li:nth-of-type(1) a:hover, #find-treatments ul li:nth-of-type(1) a:focus {
        background-position: 0 -130px; }
    #find-treatments ul li:nth-of-type(2) a {
      background-position: -180px -20px; }
      #find-treatments ul li:nth-of-type(2) a:hover, #find-treatments ul li:nth-of-type(2) a:focus {
        background-position: -180px -130px; }
    #find-treatments ul li:nth-of-type(3) a {
      padding-left: 90px;
      background-position: -360px -20px; }
      #find-treatments ul li:nth-of-type(3) a:hover, #find-treatments ul li:nth-of-type(3) a:focus {
        background-position: -360px -130px; }
    #find-treatments ul li:nth-of-type(4) a {
      padding-top: 11px;
      background-position: -540px -20px; }
      #find-treatments ul li:nth-of-type(4) a:hover, #find-treatments ul li:nth-of-type(4) a:focus {
        background-position: -540px -130px; }
    #find-treatments ul li:nth-of-type(5) a {
      background-position: -720px -20px; }
      #find-treatments ul li:nth-of-type(5) a:hover, #find-treatments ul li:nth-of-type(5) a:focus {
        background-position: -720px -130px; }

#find-treatments-orange {
  height: 150px;
  background-color: #fff; }
  #find-treatments-orange h4 {
    margin: 0;
    height: 150px; }
    #find-treatments-orange h4 a {
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 25px;
      font-size: 27px;
      color: #444;
      text-decoration: none;
      letter-spacing: 10px;
      text-indent: 0;
      line-height: 45px;
      background-image: url(/images/main/ico_angle_right.gif);
      background-repeat: no-repeat;
      background-position: 270px 50%; }
      #find-treatments-orange h4 a i {
        display: block;
        margin-left: -2px;
        font-size: 47px;
        color: #f89827;
        font-style: normal;
        letter-spacing: 0;
        line-height: 45px; }
  #find-treatments-orange ul {
    overflow: hidden; }
    #find-treatments-orange ul li {
      float: left;
      width: 20%;
      height: 150px; }
      #find-treatments-orange ul li a {
        display: block;
        padding-top: 100px;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #444;
        font-size: 15px;
        line-height: 20px;
        background-image: url(/images/main/ico_treatments.gif);
        background-repeat: no-repeat;
        text-decoration: none; }
        #find-treatments-orange ul li a:hover, #find-treatments-orange ul li a:focus {
          color: #f89827; }
      #find-treatments-orange ul li.neck a {
        background-position: 40px -210px; }
        #find-treatments-orange ul li.neck a:hover, #find-treatments-orange ul li.neck a:focus {
          background-position: 40px 15px; }
      #find-treatments-orange ul li.shoulder a {
        background-position: -128px -210px; }
        #find-treatments-orange ul li.shoulder a:hover, #find-treatments-orange ul li.shoulder a:focus {
          background-position: -128px 15px; }
      #find-treatments-orange ul li.arms a {
        background-position: -296px -210px; }
        #find-treatments-orange ul li.arms a:hover, #find-treatments-orange ul li.arms a:focus {
          background-position: -296px 15px; }
      #find-treatments-orange ul li.core a {
        background-position: -458px -210px; }
        #find-treatments-orange ul li.core a:hover, #find-treatments-orange ul li.core a:focus {
          background-position: -458px 15px; }
      #find-treatments-orange ul li.legs a {
        background-position: -634px -210px; }
        #find-treatments-orange ul li.legs a:hover, #find-treatments-orange ul li.legs a:focus {
          background-position: -634px 15px; }

#footer .full-contact {
  padding-top: 60px;
  padding-bottom: 60px; }
  #footer .full-contact section h4 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    letter-spacing: -1px; }
    #footer .full-contact section h4 i {
      font-style: normal;
      color: #e9193a; }
  #footer .full-contact section h5 {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    width: 70px;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    background-color: #4f4f4f;
    font-size: 15px;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    font-weight: normal; }
  #footer .full-contact section dl {
    margin-left: 90px;
    font-size: 15px;
    color: #666;
    letter-spacing: -1px; }
    #footer .full-contact section dl dt {
      float: left;
      width: 80px;
      font-weight: normal; }
    #footer .full-contact section dl dt, #footer .full-contact section dl dd {
      margin-bottom: 5px; }
  #footer .full-contact .branch {
    overflow: hidden; }
    #footer .full-contact .branch li {
      float: left;
      margin-bottom: 1px;
      width: 50%; }
      #footer .full-contact .branch li a {
        display: block;
        width: 185px;
        height: 82px;
        text-indent: -999em;
        background-repeat: no-repeat;
        background-position: 100% 0; }
        #footer .full-contact .branch li a:focus, #footer .full-contact .branch li a:hover {
          background-position: 100% 100%; }
      #footer .full-contact .branch li:nth-of-type(1) a {
        background-image: url(/images/bn_branch_1.gif); }
      #footer .full-contact .branch li:nth-of-type(2) a {
        background-image: url(/images/bn_branch_2.gif); }
      #footer .full-contact .branch li:nth-of-type(3) a {
        background-image: url(/images/bn_branch_3.gif); }
      #footer .full-contact .branch li:nth-of-type(4) a {
        background-image: url(/images/bn_branch_4.gif); }
#footer .partners {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f9f9f9; }
  #footer .partners h5 {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    line-height: 45px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400; }
  #footer .partners .controls {
    float: right;
    margin-top: 12px; }
    #footer .partners .controls a {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #4f4f4f;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      font-size: 10px; }
#footer .information {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  letter-spacing: -1px; }
  #footer .information .policy {
    margin-bottom: 25px; }
    #footer .information .policy li {
      display: inline-block;
      margin-right: 15px; }
      #footer .information .policy li a {
        color: #666;
        letter-spacing: -1px;
        white-space: nowrap; }
  #footer .information .company {
    color: #999; }
    #footer .information .company li {
      position: relative;
      display: inline-block;
      padding-left: 26px;
      line-height: 22px; }
      #footer .information .company li address {
        display: inline-block;
        line-height: 22px;
        white-space: nowrap; }
      #footer .information .company li dl {
        display: inline-block; }
        #footer .information .company li dl dt, #footer .information .company li dl dd {
          display: inline-block;
          line-height: 22px; }
        #footer .information .company li dl dt {
          font-weight: normal; }
          #footer .information .company li dl dt:after {
            padding-left: 3px;
            content: ':'; }
      #footer .information .company li:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        padding: 0 10px;
        content: '|';
        font-size: 11px; }
      #footer .information .company li:first-child {
        padding-left: 0; }
        #footer .information .company li:first-child:before {
          content: '';
          padding: 0; }
  #footer .information .copyright {
    line-height: 22px;
    color: #999; }
    #footer .information .copyright a {
      color: #999; }
  #footer .information .family-sites {
    margin-top: 48px; }
    #footer .information .family-sites .btn {
      position: relative;
      height: 40px;
      text-align: left;
      color: #666;
      line-height: 28px;
      background-color: #ebebeb; }
      #footer .information .family-sites .btn span {
        position: absolute;
        top: 18px;
        right: 12px; }
    #footer .information .family-sites .dropdown-menu {
      margin-top: 0;
      margin-bottom: 0;
      width: 220px;
      left: auto;
      right: 0;
      border-radius: 0; }
      #footer .information .family-sites .dropdown-menu li a {
        line-height: 30px; }
#footer .quick {
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -200px;
  width: 150px;
  z-index: 9991; }
  #footer .quick ul li {
    margin-bottom: 1px; }
    #footer .quick ul li a {
      overflow: hidden;
      display: block;
      padding-left: 50px;
      width: 100%;
      height: 45px;
      background-color: rgba(51, 51, 51, 0.8);
      color: #fff;
      font-size: 14px;
      line-height: 45px;
      text-decoration: none;
      background-repeat: no-repeat;
      background-position: 14px 50%;
      font-weight: 100; }
      #footer .quick ul li a:focus, #footer .quick ul li a:hover {
        background-color: rgba(51, 51, 51, 0.9); }
      #footer .quick ul li a span {
        float: right;
        margin-top: 18px;
        margin-right: 10px;
        font-size: 10px; }
    #footer .quick ul li:nth-of-type(1) a {
      background-image: url(/images/main/ico_pc.png);
      background-position: 15px 50%; }
    #footer .quick ul li:nth-of-type(2) a {
      background-image: url(/images/main/ico_watch.png);
      background-position: 15px 50%; }
    #footer .quick ul li:nth-of-type(3) a {
      background-image: url(/images/main/ico_mappin.png);
      background-position: 17px 50%; }
    #footer .quick ul li:nth-of-type(4) a {
      background-image: url(/images/main/ico_printer.png);
      background-position: 15px 50%; }
    #footer .quick ul li:nth-of-type(5) a {
      background-image: url(/images/main/ico_building.png);
      background-position: 16px 50%; }
    #footer .quick ul li:nth-of-type(6) a {
      background-image: url(/images/main/ico_bus.png); }
    #footer .quick ul li:nth-of-type(7) a {
      background-image: url(/images/main/ico_youtube.png);
      background-position: 15px 50%; }
    #footer .quick ul li:nth-of-type(8) a {
      background-image: url(/images/main/ico_nblog.png); }
  #footer .quick .btn {
    padding: 0 0 0 12px;
    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 13px;
    line-height: 20px;
    text-align: left; }
    #footer .quick .btn span:nth-of-type(2) {
      float: right;
      margin-top: 3px;
      margin-right: 10px;
      font-weight: 100; }
  #footer .quick.collapsed {
    width: 50px; }
    #footer .quick.collapsed ul li a span {
      display: none; }
    #footer .quick.collapsed .btn {
      padding-left: 8px; }
      #footer .quick.collapsed .btn span {
        display: none; }

.under-construction {
  height: 1040px;
  background-image: url(/images/bg_under.gif);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center; }
  .under-construction img {
    display: block;
    margin: 275px auto 0; }
  .under-construction h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 99px;
    font-weight: 300;
    letter-spacing: -9px; }
  .under-construction p {
    font-size: 37px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: -3px; }

.lt-ie9-not-supported-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .lt-ie9-not-supported-modal .lt-ie9-not-supported-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85); }
  .lt-ie9-not-supported-modal .lt-ie9-not-supported-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -250px;
    width: 400px;
    height: 535px;
    background-color: #f9f9f9;
    z-index: 9999;
    text-align: center; }
    .lt-ie9-not-supported-modal .lt-ie9-not-supported-content h1 {
      margin-bottom: 30px;
      font-size: 48px;
      color: #484848;
      font-weight: bold;
      letter-spacing: -2px; }
      .lt-ie9-not-supported-modal .lt-ie9-not-supported-content h1 small {
        font-size: 32px; }
    .lt-ie9-not-supported-modal .lt-ie9-not-supported-content p.notice {
      margin-bottom: 45px;
      font-size: 16px;
      line-height: 24px;
      color: #666;
      font-weight: 300;
      letter-spacing: -1px; }
      .lt-ie9-not-supported-modal .lt-ie9-not-supported-content p.notice strong {
        color: #e9193a;
        font-weight: 400; }
    .lt-ie9-not-supported-modal .lt-ie9-not-supported-content a {
      display: block;
      margin: 30px auto 0;
      width: 360px;
      height: 60px;
      background-color: #e9193a;
      color: #fff;
      font-size: 20px;
      line-height: 60px; }

/*# sourceMappingURL=default_test.css.map */
